<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>style</key>
		<string>1</string>
		<key>color</key>
		<dict>
			<key>view</key>
			<dict>
				<key>background</key>
				<string>fad752</string>
			</dict>
			<key>download_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>ff7800</string>
					<key>background</key>
					<string>clearColor</string>
					<key>text</key>
					<string>ff7800</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>ff7800</string>
					<key>background</key>
					<string>ff7800</string>
					<key>text</key>
					<string>fad752</string>
				</dict>
			</dict>
			<key>pause_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>ddbe4b</string>
					<key>background</key>
					<string>ddbe4b</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>c8ac43</string>
					<key>background</key>
					<string>c8ac43</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
			</dict>
			<key>open_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>ff8518</string>
					<key>background</key>
					<string>ff8518</string>
					<key>text</key>
					<string>fad752</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>ff7800</string>
					<key>background</key>
					<string>ff7800</string>
					<key>text</key>
					<string>fad752</string>
				</dict>
			</dict>
			<key>halvingline</key>
			<string>deb34f</string>
			<key>title_label</key>
			<string>414141</string>
			<key>detail_label</key>
			<string>666666</string>
			<key>gradient</key>
			<string>edcc4e</string>
		</dict>
	</dict>
	<dict>
		<key>style</key>
		<string>2</string>
		<key>color</key>
		<dict>
			<key>view</key>
			<dict>
				<key>background</key>
				<string>1a1a1a</string>
			</dict>
			<key>download_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>ff4e00</string>
					<key>background</key>
					<string>clearColor</string>
					<key>text</key>
					<string>ff4e00</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>ff4e00</string>
					<key>background</key>
					<string>ff4e00</string>
					<key>text</key>
					<string>1a1a1a</string>
				</dict>
			</dict>
			<key>pause_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>666666</string>
					<key>background</key>
					<string>666666</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>4d4d4d</string>
					<key>background</key>
					<string>4d4d4d</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
			</dict>
			<key>open_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>ff5c14</string>
					<key>background</key>
					<string>ff5c14</string>
					<key>text</key>
					<string>1a1a1a</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>ff4e00</string>
					<key>background</key>
					<string>ff4e00</string>
					<key>text</key>
					<string>1a1a1a</string>
				</dict>
			</dict>
			<key>halvingline</key>
			<string>333333</string>
			<key>title_label</key>
			<string>ffffff</string>
			<key>detail_label</key>
			<string>b2b2b2</string>
			<key>gradient</key>
			<string>262626</string>
		</dict>
	</dict>
	<dict>
		<key>style</key>
		<string>3</string>
		<key>color</key>
		<dict>
			<key>view</key>
			<dict>
				<key>background</key>
				<string>421d61</string>
			</dict>
			<key>download_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>clearColor</string>
					<key>text</key>
					<string>fcee7d</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>fcee7d</string>
					<key>text</key>
					<string>421d61</string>
				</dict>
			</dict>
			<key>pause_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>644082</string>
					<key>background</key>
					<string>644082</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>4f296e</string>
					<key>background</key>
					<string>4f296e</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
			</dict>
			<key>open_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fff9c7</string>
					<key>background</key>
					<string>fff9c7</string>
					<key>text</key>
					<string>421d61</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>fcee7d</string>
					<key>text</key>
					<string>421d61</string>
				</dict>
			</dict>
			<key>halvingline</key>
			<string>7c4f96</string>
			<key>title_label</key>
			<string>dba8ff</string>
			<key>detail_label</key>
			<string>b05deb</string>
			<key>gradient</key>
			<string>3b1a57</string>
		</dict>
	</dict>
	<dict>
		<key>style</key>
		<string>4</string>
		<key>color</key>
		<dict>
			<key>view</key>
			<dict>
				<key>background</key>
				<string>40a6d6</string>
			</dict>
			<key>download_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>clearColor</string>
					<key>text</key>
					<string>fcee7d</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>fcee7d</string>
					<key>text</key>
					<string>40a6d6</string>
				</dict>
			</dict>
			<key>pause_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>83c5e4</string>
					<key>background</key>
					<string>83c5e4</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>61b2d8</string>
					<key>background</key>
					<string>61b2d8</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
			</dict>
			<key>open_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fff9c7</string>
					<key>background</key>
					<string>fff9c7</string>
					<key>text</key>
					<string>40a6d6</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>fcee7d</string>
					<key>text</key>
					<string>40a6d6</string>
				</dict>
			</dict>
			<key>halvingline</key>
			<string>8ccae6</string>
			<key>title_label</key>
			<string>ffffff</string>
			<key>detail_label</key>
			<string>b4dff2</string>
			<key>gradient</key>
			<string>3d9ecb</string>
		</dict>
	</dict>
	<dict>
		<key>style</key>
		<string>5</string>
		<key>color</key>
		<dict>
			<key>view</key>
			<dict>
				<key>background</key>
				<string>e36ca7</string>
			</dict>
			<key>download_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>clearColor</string>
					<key>text</key>
					<string>fcee7d</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>fcee7d</string>
					<key>text</key>
					<string>e36ca7</string>
				</dict>
			</dict>
			<key>pause_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>e694bd</string>
					<key>background</key>
					<string>e694bd</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>e480b2</string>
					<key>background</key>
					<string>e480b2</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
			</dict>
			<key>open_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fff9c7</string>
					<key>background</key>
					<string>fff9c7</string>
					<key>text</key>
					<string>e36ca7</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fcee7d</string>
					<key>background</key>
					<string>fcee7d</string>
					<key>text</key>
					<string>e36ca7</string>
				</dict>
			</dict>
			<key>halvingline</key>
			<string>e989b8</string>
			<key>title_label</key>
			<string>ffffff</string>
			<key>detail_label</key>
			<string>ffd3e2</string>
			<key>gradient</key>
			<string>d7669e</string>
		</dict>
	</dict>
	<dict>
		<key>style</key>
		<string>6</string>
		<key>color</key>
		<dict>
			<key>view</key>
			<dict>
				<key>background</key>
				<string>2daa9f</string>
			</dict>
			<key>download_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fffad4</string>
					<key>background</key>
					<string>clearColor</string>
					<key>text</key>
					<string>fffad4</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fffad4</string>
					<key>background</key>
					<string>fffad4</string>
					<key>text</key>
					<string>2daa9f</string>
				</dict>
			</dict>
			<key>pause_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>93d0cb</string>
					<key>background</key>
					<string>93d0cb</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>7ab6b1</string>
					<key>background</key>
					<string>7ab6b1</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
			</dict>
			<key>open_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>fffdf0</string>
					<key>background</key>
					<string>fffdf0</string>
					<key>text</key>
					<string>2daa9f</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>fffad4</string>
					<key>background</key>
					<string>fffad4</string>
					<key>text</key>
					<string>2daa9f</string>
				</dict>
			</dict>
			<key>halvingline</key>
			<string>6cc4bc</string>
			<key>title_label</key>
			<string>ffffff</string>
			<key>detail_label</key>
			<string>69fefa</string>
			<key>gradient</key>
			<string>2ba197</string>
		</dict>
	</dict>
	<dict>
		<key>style</key>
		<string>7</string>
		<key>color</key>
		<dict>
			<key>view</key>
			<dict>
				<key>background</key>
				<string>ffffff</string>
			</dict>
			<key>download_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>ff7800</string>
					<key>background</key>
					<string>clearColor</string>
					<key>text</key>
					<string>ff7800</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>ff7800</string>
					<key>background</key>
					<string>ff7800</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
			</dict>
			<key>pause_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>e6e6e6</string>
					<key>background</key>
					<string>e6e6e6</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>b6b6b6</string>
					<key>background</key>
					<string>b6b6b6</string>
					<key>text</key>
					<string>4c4c4c</string>
				</dict>
			</dict>
			<key>open_button</key>
			<dict>
				<key>normal</key>
				<dict>
					<key>border</key>
					<string>ff8c25</string>
					<key>background</key>
					<string>ff8c25</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
				<key>highlight</key>
				<dict>
					<key>border</key>
					<string>ff7800</string>
					<key>background</key>
					<string>ff7800</string>
					<key>text</key>
					<string>ffffff</string>
				</dict>
			</dict>
			<key>halvingline</key>
			<string>e5e5e5</string>
			<key>title_label</key>
			<string>414141</string>
			<key>detail_label</key>
			<string>666666</string>
			<key>gradient</key>
			<string>f2f2f2</string>
		</dict>
	</dict>
</array>
</plist>
